@font-face {
  font-family: "zcool-gdh_Regular";
  src: url("./DingTalk-JinBuTi.ttf");
}

@font-face {
  font-family: "MULPX5na6Lbx";
  src: url("./MULPX5na6Lbx.woff");
}

@font-face {
  font-family: "AlimamaShuHeiTi-Bold";
  src: url("./AlimamaShuHeiTi-Bold.ttf");
}
